xml/ligas.dtd

<!ELEMENT ligas (liga)>
<!ELEMENT liga (nombre_liga, presidente, division, pais, equipos)>
<!ELEMENT  nombre_liga (#PCDATA)>
<!ELEMENT  presidente (#PCDATA)>
<!ELEMENT  pais (#PCDATA)>
<!ELEMENT  division ("Primera"|"Segunda"|"Tercera"|"Cuarta")>
<!ELEMENT  equipos (equipo+)>
<!ELEMENT  equipo (siglas, presupuesto, nombre, total_jugadores)>
<!ATTLIST  equipo siglas CDATA #REQUIRED>
<!ATTLIST  equipo presupuesto CDATA #REQUIRED>
<!ELEMENT  nombre (#PCDATA)>
<!ELEMENT  total_jugadores (#PCDATA)>