xml/ligas.dtd

<!ELEMENT ligas (liga+)>
<!ELEMENT liga (nombre_liga, presidente, pais, equipos)>
<!ATTLIST liga division (Primera|Segunda|Tercera|Cuarta) "Primera">
<!ELEMENT  nombre_liga (#PCDATA)>
<!ELEMENT  presidente (#PCDATA)>
<!ELEMENT  pais (#PCDATA)>
<!ELEMENT  equipos (equipo+)>
<!ELEMENT  equipo (nombre, total_jugadores)>
<!ATTLIST  equipo siglas CDATA #REQUIRED>
<!ATTLIST  equipo presupuesto CDATA #REQUIRED>
<!ELEMENT  nombre (#PCDATA)>
<!ELEMENT  total_jugadores (#PCDATA)>